<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.tiny.cloud/1/noojwbb5k17nx69z2jeevq2ytvtc2ickif8sizioqzyqqvk5/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea#content',
      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });

  </script>

  <title>Document</title>
</head>

<body class="bg-gray-100">
  <%- include('./partials/header') %>

  <div class="flex flex-col items-center p-7">
      <h1 class="text-3xl font-bold mb-4">Edit Mood</h1>
      <form id="createArticleForm" class="max-w-xl mt-5">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Title：</label>
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="title" type="text" placeholder="請輸入標題"
            value="<%= singleArticleData[0].title ? singleArticleData[0].title : '' %>" required>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="content"></label>
          <textarea id="content"><%- singleArticleData[0].content ? singleArticleData[0].content : '' %>
          </textarea>
          <!-- <textarea
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="content" rows="10" placeholder="請輸入內容"
            required><%- singleArticleData[0].content ? singleArticleData[0].content : '' %></textarea> -->
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="date">Date：</label>
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="date" type="date" required>
        </div>

        <div class="flex justify-end">
          <button
            class="w-[90px] h-[35px] bg-blue rounded-full text-white text-blue-500 transition-all delay-100 hover:scale-95"
            type="button"><a href="/user/profile">Prev</a></button>
          <button id="submitButton"
            class="ml-4 w-[90px] h-[35px] bg-red rounded-full text-white text-blue-500 transition-all delay-100 hover:scale-95"
            type="submit">Submit</button>
        </div>
      </form>
    </div>

    <script>

      document.getElementById("createArticleForm").addEventListener("submit", function (event) {
        event.preventDefault(); 

        const id = <%= singleArticleData[0].id %>;
        const title = document.getElementById("title").value;
        const content = tinymce.activeEditor.getContent();
        // const content = document.getElementById("content").value;
        const date = document.getElementById("date").value;

       
        updateArticle(id, title, content, date);
      });

      function updateArticle(id, title, content, date) {
        fetch(`/api/v1/articles/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ id, title, content, date })
        })
          .then(response => response.json())
          .then(data => {
            if (data.message === 'success') {
              document.getElementById("title").value = "";
              document.getElementById("content").value = "";
              document.getElementById("date").value = "";
              alert("Sharing Successfully！");
              return window.location.href = "/user/profile"
            }
            swal("Sharing failed！");
          })
          .catch(error => {
            console.error(error);
          });
      }

      const dateInput = document.getElementById("date");
      const today = new Date().toISOString().split("T")[0];
      dateInput.setAttribute("max", today);
      dateInput.setAttribute("value", today);

    </script>
</body>

</html>