<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Profile</title>
</head>

<body>
    <%- include('./partials/header') %>

        <div class="flex items-start justify-center ">
            <!-- 個人menu -->
            <%- include('./partials/sideBar') %>
                <!-- 好友畫面 -->
                <div class="w-3/4 flex justify-center items-start border border-red-300 h-screen py-5">

                    <div class="flex flex-wrap justify-start items-center border border-blue-400 w-[900px]">

                        <% if (friendsData && friendsData.length> 0) { %>
                            <% for (let i=0; i < friendsData.length; i++) { %>
                                <div class="flex-col border border-green-400 w-[400px] h-[200px] m-5 p-5">
                                    <div class="flex border border-red-400">
                                        <a href="/user/profile/<%= friendsData[i].id %>"><img
                                                class="w-[150px] h-[150px] border border-red-400 rounded-full"
                                                src=" <%= friendsData[i].picture %>" alt="user-picture"></a>
                                        <div class="border border-red-400 ml-3">
                                            <div class="border border-red-400">
                                                <%= friendsData[i].name %>
                                            </div>
                                            <div class="border border-red-400">現有問題：<%= friendsData[i].current_problem
                                                    %>
                                            </div>
                                            <div class="border border-red-400">家屬確診年：<%= friendsData[i].sick_year %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-end border border-red-400">
                                        <button id="send-msg" class="bg-black text-white ml-2"
                                            ><a href="/user/profile/<%= friendsData[i].id %>">查看近況</a></button>
                                        <button id="send-msg" class="bg-black text-white ml-2"
                                            onclick="sendMsg(<%= friendsData[i].id %>)">傳送訊息</button>
                                    </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <p>No friends found.</p>
                                        <% } %>
                    </div>

                </div>
        </div>
        <script>

            async function addFriend(friendId) {
                const userId = localStorage.getItem('userId');
                const url = '/api/v1/friends/add';
                const data = { userId, friendId };

                try {
                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });
                    if (response.ok) {
                        const data = await response.json();
                        alert(data.message);
                        window.location.reload();
                    } else {
                        throw new Error('Add friend request failed.');
                    }
                } catch (error) {
                    console.log(error);
                }
            }


            function sendMsg(receiverId) {
                const senderId = localStorage.getItem('userId')
                let room;
                if (Number(senderId) > Number(receiverId)) {
                    room = `${receiverId}${senderId}`;
                } else {
                    room = `${senderId}${receiverId}`;
                }

                const url = `/chatroom/${room}?id=${receiverId}`
                window.location.href = url;
            }

        </script>
</body>

</html>