<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
    <link href="/dist/output.css" rel="stylesheet" />
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <title>你的智友-文章</title>
</head>

<body>
    <%- include('./partials/header') %>

        <div class="flex flex-col items-center justify-start py-4 bg-slate-100 min-h-screen">
            <% if (singleArticleData && singleArticleData.length> 0) { %>
                <div
                    class="p-4 pb-1 flex items-center justify-start w-[650px] h-[40px] rounded-t-lg border-b border-gray-200 mt-4 shadow-sm bg-white">
                    <p class="text-[14px] mb-3">
                        <%= singleArticleData[0].created_at %>
                    </p>
                    <img src="/img/delete.svg" class="w-[20px] ml-auto pb-3">
                </div>
                <div class=" bg-white w-[650px]  p-5 rounded-b-lg  shadow-sm">
                    <div class="flex items-center">
                        <img src=" <%= singleArticleData[0].picture %>" alt="picture" class="w-[50px]">
                        <p class="ml-2 text-[18px] font-medium">
                            <%= singleArticleData[0].name %>
                        </p>
                    </div>
                    <p class="text-[28px] mt-2 font-medium">
                        <%= singleArticleData[0].title %>
                    </p>
                    <p class="content mt-1 h-auto text-[16px] font-light text-gray-700">
                        <%- singleArticleData[0].content %>
                    </p>
                    <div class="flex justify-end items-end mt-6">
                        <button onclick="goBack()"
                            class="flex justify-center items-center mt-2 w-[120px] h-[35px] bg-white text-blue border border-blue rounded-full">
                            <p class=" text-blue">上一頁</p>
                            <img src="/img/back.svg" class="w-[15px] ml-2 hover:translate-x-2">
                        </button>
                        <button onclick="userProfile(<%= singleArticleData[0].user_id %>)" class="ml-4 flex justify-center items-center mt-2 w-[120px] h-[35px] bg-blue rounded-full
                             text-blue-500" id="send-msg">
                            <p class=" text-white">關心智友</p>
                            <img src="/img/send.svg" class="w-[15px] ml-2 hover:translate-x-2">
                        </button>

                    </div>
                    <style>
                        .em{
                            height: 16px;
                        }
                    </style>
                    <div class="flex justify-end items-end mt-6 ">
                        
                        <% if (userArticleEmojiId) { %>
                            <div class="h-[20px] flex justify-center items-center bg-slate-100 rounded-full px-2 py-4">
                                <% if (userArticleEmojiId[0].emoji_id === 1) { %>
                                    <i class="em em---1 cursor-pointer" aria-role="presentation"
                                        aria-label="THUMBS UP SIGN" emoji-id="1"  id="like"></i>
                                <% } else if (userArticleEmojiId[0].emoji_id === 2) { %>
                                    <i class="em em-blue_heart  cursor-pointer" aria-role="presentation"
                                        aria-label="BLUE HEART" emoji-id="2"  id="heart"></i>
                                <% } else if (userArticleEmojiId[0].emoji_id === 3) { %>
                                    <i class="em em-broken_heart cursor-pointer" aria-role="presentation"
                                        aria-label="BROKEN HEART" emoji-id="3" " id="broken"></i>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="h-[20px] flex justify-center items-center bg-slate-100 rounded-full px-2 py-4">
                                <i class="em em---1 mr-2 cursor-pointer" aria-role="presentation"
                                    aria-label="THUMBS UP SIGN" emoji-id="1" onclick="sendEmoji(1, <%= singleArticleData[0].id %>)" id="like"></i>
                                <i class="em em-blue_heart mr-2 cursor-pointer" aria-role="presentation"
                                    aria-label="BLUE HEART" emoji-id="2" onclick="sendEmoji(2, <%= singleArticleData[0].id %>)" id="heart"></i>
                                <i class="em em-broken_heart cursor-pointer" aria-role="presentation"
                                    aria-label="BROKEN HEART" emoji-id="3" onclick="sendEmoji(3, <%= singleArticleData[0].id %>)" id="broken"></i>
                            </div>
                  
                        <% } %>
                        

                
                    </div>
                </div>

                <% } else { %>
                    <p>No article found.</p>
                    <% } %>
        </div>
       

        <script>
            const userId = localStorage.getItem('userId');
            async function sendEmoji(emojiId,articleId){
                if(userId === null) return window.location.href = '/user/signin';
                const url = "/api/v1/articles/emoji";
                const response = await fetch(url,{
                    method:"POST",
                    headers:{ "Content-Type":"application/json" },
                    body:JSON.stringify({emojiId,articleId})
                })
                const resJson = await response.json()
                console.log(resJson);
            }

            function userProfile(id) {
                const url = `/user/profile/${id}`;
                window.location.href = url
            }

            function goBack() {
                window.history.back();
            }

            const receiverId = <%= singleArticleData[0].user_id %>;
            const sendBtn = document.getElementById('send-msg');
            console.log(receiverId, senderId, sendBtn);
            if (Number(receiverId) === Number(senderId)) {
                sendBtn.style.display = 'none'
            }

  
                const emojis = document.querySelectorAll('.em');
                function handleClick(event) {
                if (document.querySelector('.selected')) {
                    return;
                }

                
                emojis.forEach(emoji => {  
                    if (emoji === event.target) {
                            emoji.classList.remove('mr-2');
                            emoji.classList.add('selected');
                        
                    } else {
                            console.log(emoji);
                            emoji.style.display = 'none';
                    }
                });
            }

            emojis.forEach(emoji => {
                            emoji.addEventListener('click', handleClick);
            });
        </script>


</body>

</html>