<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天室</title>
    <link href="/dist/output.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding-bottom: 3rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        .message-received {
            text-align: left;
            /* 其他相關樣式 */
        }

        .message-sent {
            text-align: right;
            /* 其他相關樣式 */
        }

        #form {
            background: rgba(0, 0, 0, 0.15);
            padding: 0.25rem;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            height: 3rem;
            box-sizing: border-box;
            backdrop-filter: blur(10px);
        }

        #input {
            border: none;
            padding: 0 1rem;
            flex-grow: 1;
            border-radius: 2rem;
            margin: 0.25rem;
        }

        #input:focus {
            outline: none;
        }

        #nickname-label {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 1rem;
        }


        #form>button {
            background: #333;
            border: none;
            padding: 0 1rem;
            margin: 0.25rem;
            border-radius: 3px;
            outline: none;
            color: #fff;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages>ul>li {
            padding: 0.5rem 1rem;
        }

        #messages>li {
            padding: 0.5rem 1rem;
        }

        .red-dot {
            width: 12px;
            height: 12px;
            background-color: rgb(92, 223, 35);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: 2;
            right: 2;
        }

        .red-dot-header {
            width: 12px;
            height: 12px;
            background-color: rgb(92, 223, 35);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;

        }
    </style>
</head>

<body>
    <%- include('./partials/header') %>

        <div class="flex justify-start items-center ">
            <div class="border border-gray-400 h-[560px] p-2 w-[400px] overflow-y-scroll">
                <div class="bg-black text-white p-2 sticky top-0">聊天清單</div>
                <div class="mt-2 p-2" id="chatlist">
                    <% if (chatList && chatList.length> 0) { %>
                        <% for (let i=0; i < chatList.length; i++) { %>
                            <div class="cursor-pointer items-center mb-2 bg-gray-100 chat-person"
                                data-senderid="<%= chatList[i].receiverId %>" data-room="<%= chatList[i].room_name %>">
                                <a onclick="fetchMessages(<%= chatList[i].room_name %>,<%= chatList[i].receiverId %>)"
                                    class="p-2 w-full flex relative" >
                                    <img class="w-10 h-10 rounded-full" src="<%= chatList[i].receiverPicture %>" alt="">
                                    <div class="ml-4">
                                        <h5 class="text-lg">
                                            <%= chatList[i].receiverName %>
                                        </h5>
                                        <p class="mt-1">
                                            <%= chatList[i].last_message %>
                                        </p>
                                    </div>
                                    <% if (chatList[i].sender_id===chatList[i].receiverId) { %>
                                        <span class="red-dot"></span>
                                        <% } %>
                                            <div class="flex justify-end items-end ml-auto">
                                                <p class="text-[12px] text-gray-500">
                                                    <%= chatList[i].updated_at.toISOString().split('T')[0] %>
                                                </p>
                                            </div>
                                </a>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <p>無聊天清單</p>
                                    <% } %>

                </div>
            </div>
            <div class=" border border-gray-400 h-[560px] p-2 w-[600px] relative overflow-y-scroll" id="chatroom">
                <div class="bg-black text-white p-2 w-[600px] sticky top-0 ">聊天室</div>
                <div></div>
                <div id="messages" class="">
                    <!-- <li class="flex">
                        <img class="w-[30px] h-[30px]" src="/img/user.png" alt="">
                        <text class="ml-4 bg-slate-200 rounded-lg p-2">測試文字</text>
                    </li> -->
                </div>
                <form class="absolute" id="form" action="">
                    <input id="input" autocomplete="off" /><button>Send</button>
                </form>
            </div>
            <div class="flex items-center justify-center border border-gray-400 w-[300px] h-[560px]" id="info">
            </div>
        </div>


        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script>

            // let socket = io();

            // 畫面直接提供的資訊，不透過url or fetch
            const messages = document.getElementById('messages');
            const form = document.getElementById('form');
            const input = document.getElementById('input');
            const chatList = document.getElementById('chatlist')
            // const senderId = localStorage.getItem('userId');
            const nickname = localStorage.getItem('name');

            // 加入自己socket房間
            // socket.emit('joinMyRoom', String(senderId));

            // 如果網址有room,id的邏輯，會因應點擊右方list調整所以使用let
            let roomName = window.location.href.match(/\/chatroom\/(\d+)/)[1];
            let urlParams = new URLSearchParams(window.location.search);
            let receiverId = urlParams.get('id');

            // 需要被fetchInfo更新的資訊
            const info = document.getElementById('info');
            let receiverPicture
            let receiverName

            async function fetchMessages(room, newReceiverId) {
                console.log('room:', room, '收訊人ID', newReceiverId);
                receiverId = newReceiverId;
                roomName = room;
                await fetchReceiverInfo(receiverId);
                await fetchRoomMessages(room, receiverId);
            }


            form.addEventListener('submit', function (e) {
                e.preventDefault();

                if (!roomName) {
                    if (senderId > receiverId) {
                        roomName = `${receiverId}${senderId}`;
                    }
                    else {
                        roomName = `${senderId}${receiverId}`;
                    }
                }
                if (input.value) {
                    socket.emit("send", { nickname, message: input.value, senderId, receiverId, room: roomName });
                    let userInput = document.createElement('li');
                    // 主聊天室畫面更新 
                    userInput.classList.add('message-sent', 'mt-1');
                    let text = document.createElement('text');
                    text.classList.add('ml-4', 'bg-slate-200', 'rounded-lg', 'p-2');
                    text.textContent = `${input.value}`;
                    userInput.appendChild(text);
                    messages.appendChild(userInput);

                    // 下滑到最底部
                    const container = document.getElementById('chatroom');
                    container.scrollTop = container.scrollHeight - container.clientHeight;

                    // [ChatList] 畫面更新
                    const existingChatPerson = document.querySelector(`[data-senderid="${receiverId}"]`);
                    const userIcon = '/img/user.png'

                    if (existingChatPerson !== null && existingChatPerson !== undefined) {
                        const messageElement = existingChatPerson.querySelector('.mt-1');
                        messageElement.textContent = input.value;
                        // existingChatPerson.classList.replace('bg-gray-100','bg-blue-200');
                        chatList.prepend(existingChatPerson);
                    } else {
                        const chatPerson = `
                                            <div class="mb-2 p-2" data-senderid= "${receiverId}" >
                                                <a href="/chatroom/${roomName}?id=${receiverId}" class="flex items-center relative" data-room="${room}" >
                                                    <img class="w-10 h-10" src="${receiverPicture}" alt="">
                                                    <div class="ml-4">
                                                    <h5 class="text-lg">${receiverName}</h5>
                                                    <p class="mt-1">${input.value}</p>
                                                    </div>
                                                    <span class="red-dot"></span>        
                                                </a>
                                            </div>
                                       `;
                        chatList.insertAdjacentHTML('afterbegin', chatPerson);
                    }
                    input.value = '';
                }
            });


            // [socket.io]聽自己id的socket範圍，如果有訊息就拉出來
            socket.on("message", function (data) {
                const { nickname, message, senderId, receiverId, room } = data;

                // [header] 新訊息：chat-icon加入紅點
                const messageIcon = document.getElementById('messageIcon');
                const redDot = document.createElement('span');
                redDot.className = 'red-dot-header';
                messageIcon.appendChild(redDot);

                // [chatroom] 新訊息：如果user正在傳送的聊天室中，畫面會更新文字
                if (Number(room) === Number(roomName)) {
                    let item = document.createElement('li');
                    item.classList.add('message-received', 'flex');
                    let img = document.createElement('img');
                    img.classList.add('w-[30px]', 'h-[30px]', 'rounded-full');
                    img.src = `${receiverPicture}`;
                    img.alt = 'picture';

                    let text = document.createElement('text');
                    text.classList.add('ml-4','bg-slate-200', 'rounded-lg', 'p-2');
                    text.textContent = `${message}`;

                    item.appendChild(img);
                    item.appendChild(text);
                    messages.appendChild(item);

                    const container = document.getElementById('chatroom');
                    container.scrollTop = container.scrollHeight - container.clientHeight;
                }

                // [chatList] 新訊息：(1) 已經存在的user更新文字與小綠點 (2)沒存在的user需要建立新的div
                const existingChatPerson = document.querySelector(`[data-senderid="${senderId}"]`);
                const aElement = existingChatPerson.querySelector('a');

                if (existingChatPerson) {
                    const messageElement = existingChatPerson.querySelector('.mt-1');
                    messageElement.textContent = message;
                    let span = document.createElement('span');
                    span.classList.add('red-dot');
                    aElement.appendChild(span);
                    chatList.prepend(existingChatPerson);
                } else {
                    const chatPerson = ` <div class="mb-2 bg-blue-200 p-2" data-senderid="${senderId}" >
                                            <a href="/chatroom/${room}?id=${senderId}" class="person flex items-center relative" data-room="${room}">
                                                <img class="w-10 h-10 rounded-full" src="${userIcon}" alt="">
                                                <div class="ml-4">
                                                    <h5 class="text-lg">${senderId}</h5>
                                                    <p class="mt-1">${message}</p>
                                                </div>  
                                                <span class="red-dot"></span> 
                                            </a>
                                            </div>
                                       `;
                    chatList.insertAdjacentHTML('afterbegin', chatPerson);
                }
            });

            async function fetchReceiverInfo(receiverId) {
                try {
                    const fetchData = await fetch(`/api/v1/user/profile/${receiverId}`)
                    const receiverInfo = await fetchData.json();
                    console.log('fetchReceiverInfo->', receiverInfo);
                    receiverPicture = receiverInfo[0].picture;
                    receiverName = receiverInfo[0].name;
                    const fetchInfo = `
                                <div class="flex-col border border-gray-300">
                                    <img class="p-10"
                                        src="${receiverPicture}"
                                        alt="圖片">
                                    <button class="bg-black text-white"><a href=/user/profile/${receiverId}>個人專頁</a></button>
                                    <div class="border border-gray-300 mt-4">
                                        <div class="text-lg">${receiverName}</div>
                                        <ul class="mt-2">
                                            <li>家人狀況:${receiverInfo[0].level}</li>
                                            <li>主要照顧者:${receiverInfo[0].carer}</li>
                                            <li>現有煩惱：${receiverInfo[0].current_problem}</li>
                                        </ul>
                                    </div>
                                </div>
                                 `
                    info.innerHTML = fetchInfo
                } catch (err) {
                    console.error('Error occurred while fetching fetchRoomMessages:', error);
                }
            }

            async function fetchRoomMessages(room) {
                try {
                    const fetchData = await fetch(`/api/v1/chatroom/${room}`);
                    const fetchRoomMessages = await fetchData.json();
                    // console.log('fetchRoomMessages->', fetchRoomMessages);

                    let messageUl = document.createElement('ul');

                    fetchRoomMessages.forEach(item => {
                        let userInput = document.createElement('li');

                        if (item.sender_id === Number(senderId)) {
                            userInput.classList.add('message-sent');
                            let text = document.createElement('text');
                            text.classList.add('ml-4', 'bg-slate-200', 'rounded-lg', 'p-2');
                            text.textContent = `${item.message}`;
                            userInput.appendChild(text);

                        } else {
                            userInput.classList.add('message-received', 'flex');
                            let img = document.createElement('img');
                            img.classList.add('w-[30px]', 'h-[30px]', 'rounded-full');
                            img.src = `${receiverPicture}`;
                            img.alt = '';

                            let text = document.createElement('text');
                            text.classList.add('ml-4', 'bg-slate-200', 'rounded-lg', 'p-2');
                            text.textContent = `${item.message}`;

                            userInput.appendChild(img);
                            userInput.appendChild(text);
                        }
                        messageUl.appendChild(userInput);
                    });
                    messages.innerHTML = ''; // 清空messages容器
                    messages.appendChild(messageUl); // 添加新的messageUl

                    const container = document.getElementById('chatroom');
                    container.scrollTop = container.scrollHeight - container.clientHeight;
                } catch (err) {
                    console.error('Error occurred while fetching fetchRoomMessages:', err);
                }
            }
            // 未讀通知的小綠點
            // [chatroom] 點擊後抓取 div data-room的資料，再把資訊刪除
            const chatListDiv = document.getElementById('chatlist');
            chatListDiv.addEventListener('click', async (event) => {
                // event.preventDefault();
                const target = event.target.closest('.chat-person');
                const roomName = target.getAttribute('data-room');
                const redDot = target.querySelector('a .red-dot');
                const allPersonChat = document.querySelectorAll('.chat-person');
                // 點擊的改紅色，其他保持灰色
                allPersonChat.forEach(item => {
                    item.classList.remove('bg-red-100')
                });
                target.classList.add('bg-red-100'); 
                if (redDot) {
                    redDot.style.display = 'none';
                    console.log('聊天內容已讀');
                    await fetchReadMessage(roomName); // 
                };
            })

            // [header] 點擊後，畫面綠點消失
            messageIcon.addEventListener('click', function () {
                messageIcon.removeChild(redDot);
            });

            // 點擊chatList其中一個user會觸發的
            function fetchReadMessage(room) {
                console.log('fetchReadMessage');
                fetch(`/api/v1/chatroom/${room}`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ room })
                }).then(response => response.json())
                    .then(data => {
                        if (data.message === 'success') {
                            // console.log('dataMsgRead', data.message);
                            return
                        }
                        throw new Error('reset message status failed')
                    })
                    .catch(error => { console.error(error); });
            }
            async function fetchChatPersonData(receiverId,room) {
                await fetchReceiverInfo(receiverId);
                await fetchRoomMessages(room);
            }
            fetchChatPersonData(receiverId,roomName)

        </script>
</body>

</html>