<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="/dist/output.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/img/logo1.svg">

  <title>你的智友-個人資料表單</title>
  <style>
    .user-picture {
      width: 130px;
      height: 130px;
    }

    body,
html {
    margin: 0;
    padding: 0;
}

ul.boxtags {
    list-style: none;
    padding: 20px;
}
ul.boxtags li{
  display: inline;
}
ul.boxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .1s;
}

ul.boxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.boxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #2198DD;
    color: #fff;
    transition: all .1s;
}

ul.boxtags li input[type="checkbox"] {
  display: absolute;
}
ul.boxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.boxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

  </style>
</head>

<body>
  <%- include('./partials/header') %>
    <div class="flex items-center justify-center mb-6  ">
      <div class="flex flex-col items-center w-vw-50 ">
        <h1 class="py-6 text-center font-medium text-[28px] tracking-wide">填寫個人資料</h1>
        <div class="flex justify-center items-center p-5 ">
          <form action="/user/profile/form" method="POST" class="flex-col w-vw-30" id="form"
            enctype="multipart/form-data">

            <div class="flex items-center justify-center mb-5">
              <button type="button" id="prevButton" class="mr-6">◀</button>
              <img class="user-picture rounded-full" id="pictureImage" src=" <%= userData[0].picture ? userData[0].picture : '/img/users/1.png' %>" alt="大頭照">
              <button type="button" id="nextButton" class="ml-6">►</button>
            </div>
            <div>
              <input type="radio" name="picture" value="/img/users/1.png" checked style="display: none;">
              <input type="radio" name="picture" value="/img/users/2.png" style="display: none;">
              <input type="radio" name="picture" value="/img/users/3.png" style="display: none;">
              <input type="radio" name="picture" value="/img/users/4.png" style="display: none;">
              <input type="radio" name="picture" value="upload" style="display: none;">
              <!-- <input type="hidden" id="uploadedPictureValue" name="uploadedPicture" value=""> -->

            </div>

            <div class="mb-4">
              <div class="flex flex-col items-center justify-center">
                <p class="block text-sm font-medium text-gray-900 ">請選擇一張大頭貼或上傳圖片</p>
                <p class="block mb-2 text-xs font-medium text-red ">上傳圖片檔案上限為5mb</p>
                <label for="uploadedpicture" type="button"
                  class="inline-flex items-center px-6 py-2 mb-4 bg-white border border-gray-300 rounded-md font-semibold text-md text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue transition ease-in-out duration-150 mt-2 ml-3">
                  上傳大頭照圖片
                </label>
            
              </div>
              <input type="file" id="uploadedpicture" name="upload" style="display: none;">
            </div>

            <label for="name" class="block mb-2 text-md font-medium text-gray-900 ">暱稱：</label>
            <input
              class="block w-full mb-4 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500"
              type="text" id="name" name="name" value="<%= userData[0].name ? userData[0].name : '' %>" required>

            <label class="block mb-2 text-md font-medium text-gray-900 " for="birth">生日：</label>
            <input
              class="block mb-4 w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500"
              type="date" id="birth" name="birth" value="<%= userData[0].birth ? userData[0].birth : '' %>" required>

            <label for="email" class="block text-sm font-medium text-gray-900 ">Email信箱：
            </label>
            <p class="text-xs text-gray-700 mb-1 text-red">*email為登入帳號，修改後登入帳號將一併修改</p>

            <!-- <input class="block mb-2 text-sm font-medium text-gray-900 " type="email" id="email" name="email"
            value="<%= userData[0].email ? userData[0].email : '' %>"><br><br> -->


            <div class="relative mb-2">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                </svg>
              </div>
              <input value="<%= userData[0].email ? userData[0].email : '' %>" type="email" id="email" name="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 
              focus:border-blue-500 block w-full pl-10 p-2.5 mb-4" placeholder=""
                value="<%= userData[0].email ? userData[0].email : '' %>">
            </div>


            <label class="block mb-2 text-md font-medium text-gray-900 " for="location">居住地區：</label>
            <select
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
              id="location" name="location" required>
              <option value="<%= userData[0].location ? userData[0].location : '' %>">
                <%= userData[0].location ? userData[0].location : '請選擇' %>
              </option>
              <option value="臺北市">臺北市</option>
              <option value="新北市">新北市</option>
              <option value="基隆市">基隆市</option>
              <option value="新竹市">新竹市</option>
              <option value="桃園市">桃園市</option>
              <option value="新竹縣">新竹縣</option>
              <option value="宜蘭縣">宜蘭縣</option>
              <option value="臺中市">臺中市</option>
              <option value="苗栗縣">苗栗縣</option>
              <option value="彰化縣">彰化縣</option>
              <option value="南投縣">南投縣</option>
              <option value="雲林縣">雲林縣</option>
              <option value="高雄市">高雄市</option>
              <option value="臺南市">臺南市</option>
              <option value="嘉義市">嘉義市</option>
              <option value="嘉義縣">嘉義縣</option>
              <option value="屏東縣">屏東縣</option>
              <option value="花蓮縣">澎湖縣</option>
              <option value="台東縣">澎湖縣</option>
              <option value="金門縣">連江縣</option>
              <option value="澎湖縣">澎湖縣</option>
              <option value="澎湖縣">連江縣</option>
            </select>


            <label class="block mb-2 text-md font-medium text-gray-900 " for="sickYear">家屬生病年份：</label>
            <input
              class="block mb-4 w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500"
              type="number" id="sickYear" name="sickYear" placeholder="ex.2022"
              value="<%= userData[0].sick_year ? userData[0].sick_year : '' %>" required>

            <!-- <label for="hospital" class="block">目前看診醫院：</label>
          <textarea class="border border-black w-[300px] h-[100px] mt-2" id="hospital" name="hospital"
            required><%= userData[0].hospital ? userData[0].hospital : '' %></textarea> -->

            <label class="block mb-2 text-md font-medium text-gray-900 " for="level"
              class="block mt-4">醫生診斷病程：</label>
            <select
              class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
              id="level" name="level" required>
              <option value="<%= userData[0].level ? userData[0].level : '' %>">
                <%= userData[0].level ? userData[0].level : '請選擇' %>
              </option>
              <option value="早期">早期</option>
              <option value="中期">中期</option>
              <option value="晚期">晚期</option>
            </select>

            <label class="block mb-2 text-md font-medium text-gray-900 " for="carer"
              class="block mt-4">主要照顧者：</label>
            <select
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
              id="carer" name="carer" required>
              <option value="<%= userData[0].carer ? userData[0].carer : '請選擇' %>">
                <%= userData[0].carer ? userData[0].carer : '請選擇' %>
              </option>
              <option value="自己">自己</option>
              <option value="家人">家人</option>
              <option value="看護">看護</option>
              <option value="外傭">外傭</option>
            </select><br>


            <label class="block mb-2 text-md font-medium text-gray-900 "
              for="currentProblems">你目前遇到的問題：</label>
            <textarea
              class="block w-full h-[100px] p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500"
              id="currentProblems" name="currentProblems"
              required><%= userData[0].current_problem%></textarea><br>

            <label class="block text-md font-medium text-gray-900 " for="conditions">家屬病況：</label>
            <p class="text-xs mb-4  text-red">*病況為重要智慧媒合資訊，請點選最符合的6個狀況</p>

        <div class="flex items-center justify-center w-full ">
            <% let count=0; %>
            <ul class="boxtags">
              <% for (let i=0; i < tags.length; i++) { %>
                <!-- <div class="flex-inline items-center mr-4"> -->
                  <li><input
                    class=""
                    type="checkbox" id="condition<%= tags[i].id %>" name="tags" value="<%= tags[i].id %>"
                    onclick="limitCheckboxes(this)"
                    <% if (userData && userData[0]?.tags?.includes(tags[i].name)) { %> checked <% } %>
                    >
                    <label for="condition<%= tags[i].id %>"
                      class="ml-2 text-md font-medium text-gray-900  cursor-pointer">
                      <%= tags[i].name %>
                    </label></li>
                <!-- </div> -->
              
              
                <% } %><br>
              </ul>
            </div>
                  <div class="flex justify-center">
                    <button
                      class=" mt-2 w-[90px] h-[35px] bg-blue rounded-full text-white text-blue-500 transition-all delay-100 hover:scale-95"
                      type="submit">Submit</button>
                  </div>
          </form>

        </div>
      </div>
    </div>
    <script>

      document.addEventListener('DOMContentLoaded', function () {
        const prevButton = document.getElementById('prevButton');
        const nextButton = document.getElementById('nextButton');
        const pictureImage = document.getElementById('pictureImage');
        const pictureRadios = document.getElementsByName('picture');
        const uploadedpictureInput = document.getElementById('uploadedpicture');


        let currentpictureIndex = 0;

        prevButton.addEventListener('click', function () {
          currentpictureIndex = (currentpictureIndex - 1 + pictureRadios.length) % pictureRadios.length;
          pictureRadios[currentpictureIndex].checked = true;

          updatePreview();
        });

        nextButton.addEventListener('click', function () {
          currentpictureIndex = (currentpictureIndex + 1) % pictureRadios.length;
          pictureRadios[currentpictureIndex].checked = true;
          updatePreview();
        });

        uploadedpictureInput.addEventListener('change', function () {
          if (uploadedpictureInput.files && uploadedpictureInput.files[0]) {
            const reader = new FileReader();

            pictureRadios.forEach(radio => {
              if (radio.value !== 'upload') {
                radio.removeAttribute('name');
              }
            });

            reader.onload = function (e) {
              pictureImage.src = e.target.result;
              pictureImage.alt = '上傳的圖片';
              pictureRadios[pictureRadios.length - 1].checked = true;
            };

            reader.readAsDataURL(uploadedpictureInput.files[0]);
          }
        });

        pictureRadios.forEach(function (radio, index) {
          radio.addEventListener('change', function () {
            currentpictureIndex = index;
            updatePreview();

            if (radio.value === 'upload') {
              uploadContainer.style.display = 'block';
            } else {
              uploadContainer.style.display = 'none';
            }
          });
        });

        function updatePreview() {
          if (pictureRadios[currentpictureIndex].value === 'upload') {
            pictureImage.src = '/img/users/5.png';
            pictureImage.alt = '大頭照';
          } else {
            const pictureNumber = currentpictureIndex + 1;
            pictureImage.src = `/img/users/${pictureNumber}.png`;
            pictureImage.alt = `大頭照 ${pictureNumber}`;
          }
        }
      });

      window.onload = function () {
        var selectElement = document.getElementById("picture");
        previewImage(selectElement);
      };

      function limitCheckboxes(checkbox) {
        let checkboxes = document.querySelectorAll('input[name="tags"]:checked');
        if (checkboxes.length > 6) {
          checkbox.checked = false;
          swal('請點選最接近的6個病況，以作為最佳配對建議')
        }
      }

      document.getElementById("form").addEventListener("submit", function (event) {
        let checkboxes = document.querySelectorAll('input[name="tags"]:checked');
        if (checkboxes.length < 1 || checkboxes.length > 6) {
          event.preventDefault();
          swal("請選擇1至6個家屬病況。");
        }
      });


      

    </script>
</body>

</html>