<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Profile</title>
</head>

<body>
    <%- include('./partials/header') %>

        <div class="flex items-start justify-center border border-red-500 ">
            <!-- 個人menu -->
            <div class="w-1/4 p-5 border border-red-500 h-screen">
                <img src="<%= userProfile[0].picture %>" alt="user-picture"
                    class="w=[100px] h-[100px] border border-red-500">
                <ul border border-red-500>
                    <li>id:<%= userProfile[0].id %>
                    </li>
                    <li>稱呼:<%= userProfile[0].name %>
                    </li>
                    <li>地區:<%= userProfile[0].location %>
                    </li>
                    <li>家人確診年:<%= userProfile[0].sick_year %>
                    </li>
                    <li>主要照顧者:<%= userProfile[0].carer %>
                    </li>
                    <li>最近的煩惱:<%= userProfile[0].current_problem %>
                    </li>
                </ul>
            </div>
            <!-- 個人心情留言板 -->
            <div class="w-3/4 flex justify-center items-start border border-red-300 h-screen ">
                <div class=" flex-col py-4 border border-red-500">
                    <div class="border border-red-500">
                        <a id="send-msg" href=""><p
                                class="bg-gray-300 mt-4 w-[200px] h-[30px] border border-red-500">傳送訊息</p></a>
                    </div>
                    <div class=" flex-col py-4">

                        <% if (userProfile[0].articles && userProfile[0].articles.length> 0) { %>
                            <% for (let i=0; i < userProfile[0].articles.length; i++) { %>
                                <div class="bg-gray-100 w-[600px] mt-4 p-5">
                                    <p class="p-6">
                                        <%= userProfile[0].articles[i] %>
                                    </p>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <p>No articles found.</p>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <script>
           const currentURL = window.location.href;
            const regex = /\/(\d+)$/;
            const match = currentURL.match(regex);
            const value = match ? match[1] : null;
            console.log(value); // 輸出: 從URL中抓取的數字值
            const receiverId = value;
            const senderId = localStorage.getItem('userId');

            let room;
            if (Number(senderId) > Number(receiverId)) {
                room = `${receiverId}${senderId}`;
            } else {
                room = `${senderId}${receiverId}`;
            }

            const url = `/chatroom/${room}?id=${receiverId}`
            const sendMsg = document.getElementById('send-msg')
            sendMsg.href = url;
        </script>
</body>

</html>