<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/img/logo1.svg">
  <link href="/dist/output.css" rel="stylesheet" />
  <title>你的智友-Profile</title>
  <style>

  </style>
</head>

<body class="">
  <%- include('./partials/header') %>

    <div class="flex items-start justify-start bg-slate-100 screen-h fixed">
      <!-- 個人menu -->
      <div class="py-8  font-medium w-vw-40 flex flex-col justify-start items-center bg-white h-full overflow-y-scroll ">
        <a id="send-msg"
          class="cursor-pointer py-2 w-[160px] bg-red rounded-full text-white transition-all delay-100 hover:scale-105">
          <div class="flex justify-center items-center">
            <p class="text-center text-white">傳送訊息</p>
            <img src="/img/send.svg" class="w-[15px] ml-2 hover:translate-x-2">
          </div>
        </a>

        <img src="<%= userProfile[0].picture %>" alt="user-picture" class="w-[200px] h-[200px] rounded-full mb-2">
        <ul class="w-[240px] p-4">
          <li>稱呼: <%= userProfile[0].name %>
          </li>
          <li>地區: <%= userProfile[0].location %>
          </li>
          <li>家人確診年: <%= userProfile[0].sick_year %>
          </li>
          <li>主要照顧者: <%= userProfile[0].carer %>
          </li>
          <li>最近的煩惱: <%= userProfile[0].current_problem %>
          </li>
        </ul>
        <div class="flex flex-col items-center mt-3  p-2 w-[240px] ">
          <p class="my-3"><strong>家屬病況：</strong></p>
          <div class="">
            <% if (userProfile[0].tags && userProfile[0].tags.length> 0) { %>
              <% for (let i=0; i < userProfile[0].tags.length; i++) { %>

                <li class="inline-flex mt-2 p-2 bg-white border border-gray-300
               rounded-md font-semibold text-xs text-gray-700 hover:scale-95 ">
                  <img class="w-[16px]" src="/img/tag.svg" alt="icon">
                  <span class="pl-1">
                    <%= userProfile[0].tags[i] %></span>
                </li>
                <% } %>
                  <% } else { %>
                    <p>無提供家屬症況</p>
                    <% } %>
          </div>
        </div>
      </div>
      <!-- 個人心情留言板 -->
      <div class="flex justify-center items-start w-vw-60 h-vh-90 overflow-y-scroll">
        <div class="flex flex-col items-center justify-center py-6">
          <% if (userArticles && userArticles.length> 0) { %>
            <% for (let i=0; i < userArticles.length; i++) { %>
              <div
                class="p-4 pb-1 flex items-center justify-start w-[550px] h-[40px] rounded-t-lg border-b border-gray-200 mt-4 shadow-sm bg-white">
                <p class="text-[14px] mb-3">
                  <%= userArticles[i].created_at %>
                </p>
                <img src="/img/delete.svg" class="w-[20px] ml-auto pb-3">
              </div>
              <div class=" bg-white w-[550px]  p-5 rounded-b-lg  shadow-sm">
                <div class="flex items-center">
                  <img src="<%= userArticles[i].picture %>" alt="picture" class="w-[50px]">
                  <p class="ml-2 text-[18px] font-medium"><%= userArticles[i].name %></p>
                </div>
                <p class="text-[24px] mt-2 font-medium">
                  <%= userArticles[i].title %>
                </p>
                <div class="truncate content mt-1 h-auto text-[16px] font-light" data-max-length="80">
                  <%- userArticles[i].content %>
                </div>
                <div class="flex justify-end items-end mt-2">
                  <button onclick="readArticle(<%= userArticles[i].id %>)"
                    class="mt-2 w-[80px] h-[30px] text-sm bg-blue rounded-full text-white text-blue-500 transition-all delay-100 hover:scale-95">看更多...</button>
                </div>
              </div>
              <% } %>
                <% } else { %>
                  <div class="">智友目前還沒發佈動態</div>
                  <% } %>
        </div>
      </div>
    </div>

    <script>

      const currentURL = window.location.href;
      const regex = /\/(\d+)$/;
      const match = currentURL.match(regex);
      const value = match ? match[1] : null;
      console.log(value); 
      const receiverId = value;

      let room;
      if (Number(senderId) > Number(receiverId)) {
        room = `${receiverId}${senderId}`;
      } else {
        room = `${senderId}${receiverId}`;
      }

      const url = `/chatroom/${room}?id=${receiverId}`
      const sendMsg = document.getElementById('send-msg')
      sendMsg.href = url;
      console.log('url->', url);

      function readArticle(id) {
        const url = `/articles/${id}`;
        window.location.href = url
      }
 
      const paragraphs = document.querySelectorAll('.content');

            paragraphs.forEach((paragraph) => {
                const maxLength = parseInt(paragraph.getAttribute('data-max-length'), 10);

                if (paragraph.textContent.length > maxLength) {
                    const truncatedContent = paragraph.textContent.substr(0, maxLength) + '...';
                    paragraph.textContent = truncatedContent;
                }
            });

            const sendBtn =  document.getElementById('send-msg');
            console.log(receiverId , senderId , sendBtn);
            if (Number(receiverId) === Number(senderId)){
                sendBtn.style.display = 'none'}


    </script>
</body>

</html>