<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Profile</title>
    <style>
        .screen-h {
            height: calc(100% - 98px);
        }
    </style>
</head>

<body class="">
    <%- include('./partials/header') %>
        <div class="flex items-start justify-start h-vh-90 ">
            <%- include('./partials/sideBar') %>
                <!-- 個人資料 -->
                <div
                    class="space-y-4 font-medium  w-vw-30 h-vh-90 p-6 flex flex-col justify-start items-center  bg-white overflow-y-scroll">
                    <img class="w-[200px] h-[200px] rounded-full mb-2" src="<%= userProfile[0].picture %>"
                        alt="Profile Picture">
                    <ul>
                        <li class="mt-2"><strong>稱呼：</strong>
                            <%= userProfile[0].name %>
                        </li>
                        <li class="mt-2"><strong>地區：</strong>
                            <%= userProfile[0].location %>
                        </li>
                        <li class="mt-2"><strong>家屬確診年：</strong>
                            <%= userProfile[0].sick_year %>
                        </li>
                        <li class="mt-2"><strong>家屬診斷病程：</strong>
                            <%= userProfile[0].level %>
                        </li>
                        <li class="mt-2"><strong>現有煩惱：</strong>
                            <%= userProfile[0].current_problem %>
                        </li>

                        <p class="mt-2"><strong>病況：</strong></p>
                        <% if (userProfile[0].tags && userProfile[0].tags.length> 0) { %>
                            <% userProfile[0].tags.forEach(function(tag) { %>
                                <li class="flex mt-2 font-thin bg-white border border-blue py-2 pl-1 pr-2 rounded-lg hover:scale-95 ">
                                    <img class="w-[20px]" src="/img/tag.svg" alt="icon">
                                    <sapn class="pl-1">
                                        <%= tag %></span>
                                </li>
                                <% }); %>

                                    <% } else { %>
                                        <p>尚未點選家屬病況</p>
                                        <% } %>
                                            <button
                                                class="mt-8 ml-2 w-[150px] h-[35px] bg-white border border-blue rounded-full 
                                                text-blue font-light text-blue-500 transition-all delay-100 hover:scale-95 tracking-wide"><a
                                                    href="/user/profile/form">修改個人資料</a></button>

                </div>
                </ul>

                <div class="h-vh-90 overflow-y-scroll">
                    <div
                        class="flex justify-end cursor-pointer absolute top-32 right-10 transition-all delay-100 hover:scale-110">
                        <a href="/user/create-article"><img src="/img/add.svg" class="w-[30px]"></a>
                        <!-- <a class="bg-black text-white w-[150px] mb-4"
                            href="/user/create-article">新增心情記事</a> -->
                    </div>
                    <div class="flex flex-col justify-center items-center  w-vw-50 p-6 bg-white">
                        <% if (userArticles && userArticles.length> 0) { %>
                            <% for (let i=0; i < userArticles.length; i++) { %>
                                <div
                                    class="p-4 pb-1 flex items-center justify-start w-[450px] h-[40px] rounded-t-lg border border-gray-200 mt-4 shadow-sm bg-white">
                                    <p class="text-[14px] mb-3">
                                        <%= userArticles[i].created_at %>
                                    </p>
                                </div>
                                <div class="bg-gray-100 w-[450px] p-5" id="id:<%= userArticles[i].id %>">

                                    <p class="text-2xl font-bold">
                                        <%= userArticles[i].title %>
                                    </p>
                                    <p class="mt-4 truncate">
                                        <%- userArticles[i].content %>
                                    </p>
                                    <div class="flex justify-end mt-4">
                                        <button
                                            class="ml-2 w-[90px] h-[35px] bg-white border border-blue rounded-full text-blue font-light text-blue-500 transition-all delay-100 hover:scale-95 tracking-wide"
                                            onclick="showConfirmationPopup(<%= userArticles[i].id %>)">刪除</button>
                                        <button
                                            class="ml-2 w-[90px] h-[35px] bg-white border border-blue rounded-full text-blue font-light text-blue-500 transition-all delay-100 hover:scale-95 tracking-wide"
                                            onclick="showUpdatePopup(<%= userArticles[i].id %>)">編輯</button>
                                    </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <p class="text-gray-600">No articles found.</p>
                                        <% } %>
                    </div>
                </div>
        </div>
        <script>

            function showUpdatePopup(articleId) {
                const confirmation = confirm("編輯此篇文章");

                if (confirmation) {
                    window.location.href = `/articles/edit/${articleId}`
                }
            }


            function showConfirmationPopup(articleId) {
                const confirmation = confirm("是否確定刪除？");

                if (confirmation) {
                    deleteArticle(articleId);
                }
            }


            function deleteArticle(articleId) {
                fetch(`/api/v1/articles/${articleId}`, {
                    method: "DELETE",
                })
                    .then(response => {
                        if (response.ok) return response.json();
                    }
                    ).then(data => {
                        const deleteArticle = document.getElementById(`id:${articleId}`);
                        deleteArticle.style.display = "none";
                        alert(data.message);
                    })
                    .catch(error => {
                        console.error("error：", error);
                        alert('刪除失敗')
                    });
            }

            function updateArticle(articleId) {
                fetch(`/api/v1/articles/${articleId}`, {
                    method: "PUT",
                })
                    .then(response => {
                        if (response.ok) return response.json();
                    }
                    ).then(data => {
                        const deleteArticle = document.getElementById(`id:${articleId}`);
                        deleteArticle.style.display = "none";
                        alert(data.message);
                    })
                    .catch(error => {
                        console.error("error：", error);
                        alert('刪除失敗')
                    });
            }

        </script>
</body>

</html>